<ion-header [class.add-border]="borderLimit" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
    <ion-buttons slot="end" class="top-navigation">
      <div class="notifications">
        <ion-badge>3</ion-badge>
        <ion-icon name="notifications-outline"></ion-icon>
      </div>
      <ion-button class="user-control" (click)="presentPopover($event)">
        <ion-label>
          <span class="user-name text-bold-600">John Doe</span>
          <small>Available</small>
        </ion-label>
        <ion-avatar>
          <img src="assets/img/avatar-s-11.jpg">
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)" [fullscreen]="true" class="ion-padding">
  <div class="hide" id="container">
    <h1>Hello, {{authService.name}}</h1>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="continue-prof">
            <ion-card-content>
              <ion-item lines="none">
                <ion-label class="continue-lbl">
                  <h3>Complete Your Profile</h3>
                  Finish you profile by providing us with some personal information. We will use this to create your account and fill in your contract
                </ion-label>
                <ion-button class="continue-btn desktop" slot="end" routerLink="/step1" >Continue</ion-button>
              </ion-item>
              <ion-button class="continue-btn mobile" slot="end" routerLink="/step1" >Continue</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="stats">
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Total Balance</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>$0.00</p>
              <small>1 Portfolio</small>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Daily Earnings</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>$0.00</p>
              <small>As of today</small>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Total Deposits</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>$0.00</p>
              <small>Latest: $0.00</small>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Total Earnings</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>$0.00</p>
              <small>As of today</small>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="portfolio-stats">
        <ion-col>
          <h3>Portfolios</h3>
          <ion-card>
            <ion-card-content>
              <ion-item detail lines="none">
                <ion-button slot="start" class="globe icon">
                  <ion-icon slot="icon-only" name="planet-outline"></ion-icon>
                </ion-button>
                <ion-label class="general">General <ion-icon routerLink="/question-view/1" tappable name="pencil-outline"></ion-icon> <br/><span>Pending</span></ion-label>
                <ion-label class="msg">This portfolio has not been funded yet.</ion-label>
                <ion-label class="earnings ion-text-end">$0.00 <br/> <small>Earning: $0.00</small></ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="chart">
          <div  class="stats">
            <ion-icon name="people-circle-outline"></ion-icon>
            <h3>92.6k</h3>
            <h4>Account Created</h4>
          </div>
          <apx-chart
                  [series]="chartOptions.series"
                  [chart]="chartOptions.chart"
                  [xaxis]="chartOptions.xaxis"
                  [stroke]="chartOptions.stroke"
                  [tooltip]="chartOptions.tooltip"
                  [dataLabels]="chartOptions.dataLabels"
          ></apx-chart>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card id="chart" class="chart">
          <div class="stats">
            <ion-icon name="cash-outline"></ion-icon>
            <h3>100.6k</h3>
            <h4>Revenue Generated</h4>
          </div>
          <apx-chart
                  [series]="chartOptions1.series"
                  [chart]="chartOptions1.chart"
                  [xaxis]="chartOptions1.xaxis"
                  [stroke]="chartOptions1.stroke"
                  [tooltip]="chartOptions1.tooltip"
                  [dataLabels]="chartOptions1.dataLabels"
          ></apx-chart>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card id="chart2" class="chart">
          <div class="grid-chat">
            <apx-chart
                    [series]="chartOptions2.series"
                    [chart]="chartOptions2.chart"
                    [plotOptions]="chartOptions2.plotOptions"
                    [labels]="chartOptions2.labels"
            ></apx-chart>
          </div>
          <ion-grid class="grid-chat-stats">
            <ion-row>
              <ion-col class="ion-text-center left-col">
                <div class="col-6 border-top border-right d-flex align-items-between flex-column py-1">
                  <p class="mb-50">Completed</p>
                  <p class="text-bold-700">786,617</p>
                </div>
              </ion-col>
              <ion-col class="ion-text-center">
                <div class="col-6 border-top d-flex align-items-between flex-column py-1">
                  <p class="mb-50">In Progress</p>
                  <p class="font-large-1 text-bold-700">13,561</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="hide">
    <ion-row>
      <ion-col size-md="6" size-lg="6">
        <ion-card class="chart">
            <fusioncharts
                  width="100%"
                  height="350"
                  type="splinearea"
                  [dataSource]="dataSource"
          >
        </fusioncharts>
        </ion-card>
      </ion-col>
      <ion-col  size-md="6" size-lg="6">
        <ion-card class="chart">
          <fusioncharts
                  width="100%"
                  height="350"
                  type="pareto2d"
                  [dataSource]="dataSource2"
          >
          </fusioncharts>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="account-status">
    <ion-card-header>
      Account Status
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="table-header">
          <ion-col>USER</ion-col>
          <ion-col>STATUS</ion-col>
          <ion-col>OPERATORS</ion-col>
          <ion-col>ACCOUNT TYPE</ion-col>
          <ion-col>STATE DATE</ion-col>
        </ion-row>
        <ion-row class="table-content">
          <ion-col>#8077715</ion-col>
          <ion-col><ion-icon name="radio-button-off-outline"  class="active-status"></ion-icon> Moving</ion-col>
          <ion-col>
            <ul class="list-unstyled users-list m-0  d-flex align-items-center">
              <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Trina Lynes" class="avatar pull-up">
                <img class="media-object rounded-circle" src="assets/img/small/avatar-s-1.jpg" alt="Avatar" height="30" width="30">
              </li>
              <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Lilian Nenez" class="avatar pull-up">
                <img class="media-object rounded-circle" src="assets/img/small/avatar-s-2.jpg" alt="Avatar" height="30" width="30">
              </li>
              <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Alberto Glotzbach" class="avatar pull-up">
                <img class="media-object rounded-circle" src="assets/img/small/avatar-s-3.jpg" alt="Avatar" height="30" width="30">
              </li>
              <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="George Nordic" class="avatar pull-up">
                <img class="media-object rounded-circle" src="assets/img/small/avatar-s-5.jpg" alt="Avatar" height="30" width="30">
              </li>
              <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Vinnie Mostowy" class="avatar pull-up">
                <img class="media-object rounded-circle" src="assets/img/small/avatar-s-4.jpg" alt="Avatar" height="30" width="30">
              </li>
            </ul>
          </ion-col>
          <ion-col class="bolder-text">Corporate</ion-col>
          <ion-col>14:58 26/06/2018</ion-col>
        </ion-row>
        <ion-row class="table-content">
          <ion-col>#1288192</ion-col>
          <ion-col><ion-icon name="radio-button-off-outline" class="pending-status"></ion-icon> Pending</ion-col>
          <ion-col><ul class="list-unstyled users-list m-0  d-flex align-items-center">
            <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Trina Lynes" class="avatar pull-up">
              <img class="media-object rounded-circle" src="assets/img/small/avatar-s-1.jpg" alt="Avatar" height="30" width="30">
            </li>
            <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Lilian Nenez" class="avatar pull-up">
              <img class="media-object rounded-circle" src="assets/img/small/avatar-s-2.jpg" alt="Avatar" height="30" width="30">
            </li>
            <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Alberto Glotzbach" class="avatar pull-up">
              <img class="media-object rounded-circle" src="assets/img/small/avatar-s-3.jpg" alt="Avatar" height="30" width="30">
            </li>
          </ul></ion-col>
          <ion-col class="bolder-text">Individual</ion-col>
          <ion-col>12:58 26/06/2018</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
