<ion-content fullscreen="true">
    <div class="buttons">
      <ion-button class="lang-btn" size="small">عربي</ion-button>
      <ion-button class="login-btn" [routerLink]="['/login']" >Login</ion-button>
    </div>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-align-items-start">
      <ion-col size-sm="0" size-md="0" size-xs="0" size-lg="4" class="col-bg-img" *ngIf="platform.width() > 990">
        <img src="./assets/img/main-image.png"/>
          <h2 class="intro-text">Let's start with your email address, password, and residency</h2>
      </ion-col>
      <ion-col size-md="12" size-lg="8" size-sm="12">
        <div class="main-content">
            <div class="buttons inner">
              <ion-button class="lang-btn" size="small">عربي</ion-button>
              <ion-button class="login-btn" [routerLink]="['/login']" >Login</ion-button>
            </div>

          <ion-card routerLink="/register">
            <ion-card-header>
              <ion-card-title>Open a Kamco Capital SmartWealth account</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item detail lines="none">Get started with smarter investing habits today and open an account within minutes.</ion-item>
            </ion-card-content>
            <ion-icon slot="end" name="star"></ion-icon>
          </ion-card>

          <ion-card routerLink="/question-view/1">
            <ion-card-header>
              <ion-card-title>Build my financial plan in under 5 minutes</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item detail lines="none">Get started with smarter investing habits today and open an account within minutes.</ion-item>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
