<ion-content fullscreen="true">
  <div class="buttons">
    <ion-button class="lang-btn" size="small">عربي</ion-button>
  </div>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-align-items-start">
      <ion-col size-sm="0" size-md="0" size-xs="0" size-lg="4" class="col-bg-img" *ngIf="platform.width() > 990">
        <img src="./assets/img/main-image.png"/>
        <h2 class="intro-text">Welcome Back</h2>
      </ion-col>
      <ion-col size-md="12" size-lg="8" size-sm="12">
        <div class="main-content">
          <div class="buttons inner cleafix">
            <img src="./assets/img/logo.png"/>
            <ion-button class="lang-btn" size="small">عربي</ion-button>
          </div>
          <section class="login-page">
            <form [formGroup]="forgotForm" (ngSubmit)="submit()" autocomplete="off" class="classicInput" novalidate>
              <div class="field-group">
                <ion-label>Email</ion-label>
                <ion-input placeholder="Email" name="email" type="text" #email formControlName="email"></ion-input>
              </div>
              <div class="row">
                <div class="column left"><ion-button color="light" (click)="back()" size="default">Back</ion-button></div>
                <div class="column right">
                  <ion-button size="large" class="submit-btn" type="submit"
                              [disabled]="!forgotForm.valid || isLoading">
                    <ion-spinner *ngIf="isLoading"></ion-spinner>
                    <span *ngIf="!isLoading">Reset Password</span>
                  </ion-button>
                </div>
              </div>
            </form>
          </section>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
