<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>

  <div class="kyc-content">

    <div class="content-wrapper">
      <div class="description">
        <div class="title"><span>Taxes & Beneficiaries</span></div>
        <p><span>Complete the additional information requirements to finalize your account details. Questions will require the sharing of citizenship, tax and account beneficiary details.
          </span>
        </p>
      </div>

      <form [formGroup]="form" class="form">

        <div class="field-row">
          <div class="label radio-buttons-title"><span>Do you pay taxes in another country?</span></div>
          <div class="radio-container kyc-radio-button" [class.radio-checked]="form.value.payTaxInAnotherCountry == 1"
            role="presentation" (click)="setPayTaxInAnotherCountry(1)">
            <div class="radio-button small radio-gender" [class.checked]="form.value.payTaxInAnotherCountry == 1">
              <div></div>
            </div>
            <span>Yes</span>
          </div>
          <div class="radio-container kyc-radio-button" [class.radio-checked]="form.value.payTaxInAnotherCountry == 2"
            role="presentation" (click)="setPayTaxInAnotherCountry(2)">
            <div class="radio-button small" [class.checked]="form.value.payTaxInAnotherCountry == 2">
              <div></div>
            </div>
            <span>No</span>
          </div>
        </div>

        <div *ngIf="['1', 1].indexOf(form.value.payTaxInAnotherCountry) > -1">

          <ion-card *ngFor="let a of taxCountry.controls; let i = index;">
            <ion-card-content [formGroup]="a">

              <div class="field-row">
                <div class=" signup-input">
                  <ion-label>TAX country {{ i + 1 }}</ion-label>
                  <ion-input autocomplete="on" formControlName="country"></ion-input>
                </div>
              </div>
              
              <div class="field-row">
                <div class=" signup-input">
                  <ion-label>Taxpayer identification number {{ i + 1}}</ion-label>
                  <ion-input autocomplete="on" formControlName="id"></ion-input>
                </div>
              </div>

              <ion-button fill="clear" (click)="removeCountry(i)">
                <ion-icon name="close-outline"></ion-icon> Remove tax country
              </ion-button>
            </ion-card-content>
          </ion-card>
                    
          <ion-button fill="clear" (click)="addAnotherCountry()">
            <ion-icon name="add-circle-outline"></ion-icon> Add another tax country
          </ion-button>
          
        </div>

      </form>
    </div><!-- END .content-wrapper -->
  </div><!-- END .kyc-content -->
</ion-content>
<ion-footer>
  <ion-progress-bar color="primary" value="0.80"></ion-progress-bar>

  <div class="footer-wrapper">

    <ion-button fill="clear" class="btn-back" (click)="back()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>

    <div>
      <h5>Complete profile</h5>
      <div class="steps">
        <div class="bold step"><span>Personal Information</span></div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <div class="bold step"><span>Contact Information</span></div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <div class="bold step"><span>Employment and Wealth</span></div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <div class="bold step"><span>Taxes &amp; Beneficiaries</span></div>
      </div>
    </div>

    <ion-button (click)="continue()" class="btn-continue" [disabled]="!form || form.invalid">
      Continue
    </ion-button>

  </div>
</ion-footer>