<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
        <div class="kyc-content left">
          <div class="description">
            <div class="title"><span>Personal Information</span></div>
            <p><span>Complete the personal information fields to continue building your SmartWealth profile. Questions
              require the sharing of personal and contact information.</span></p>
          </div>
        </div>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
        <div class="kyc-content right">
          <form [formGroup]="form" class="form">

            <div class="field-row-2">
              <div class="label radio-buttons-title"><span>Is this a guardianship account?</span></div>
              <ion-radio-group formControlName="isGuardianshpAccount">
                <div class="radio-container kyc-radio-button">
                  <ion-item lines="none">
                    <ion-radio slot="start" value="1"></ion-radio>
                    <ion-label>Yes</ion-label>
                  </ion-item>
                </div>
                <div class="radio-container kyc-radio-button">
                  <ion-item lines="none">
                    <ion-radio slot="start" value="2"></ion-radio>
                    <ion-label>No</ion-label>
                  </ion-item>
                </div>
              </ion-radio-group>
            </div>

            <div *ngIf="[1, '1'].indexOf(form.value.isGuardianshpAccount) > -1">

              <div class="field-row">
                <div class="custom-dropdown">
                  <ion-label>Guardian full name</ion-label>
                  <ion-input placeholder="Guardian full name" autocomplete="on" formControlName="guardianFullName" type="text">
                  </ion-input>
                </div>
              </div>

              <div class="field-row">
                <div class="custom-dropdown">
                  <ion-label>Guardian nationality</ion-label>
                  <select-search-input formControlName="guardianNationality" placeholder="Select nationality"
                                       [collection]="countrylistData" valueAttr="country_name_en" labelAttr="country_name_en">
                  </select-search-input>
                </div>
              </div>

              <div class="field-row">
                <div class="signup-input">
                  <ion-label>Guardian civil ID number</ion-label>
                  <ion-input placeholder="Guardian civil ID number" autocomplete="on" formControlName="guardianCivilIdNumber" type="text">
                  </ion-input>
                </div>
              </div>

            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-progress-bar color="primary" value="0.24"></ion-progress-bar>

  <div class="footer-wrapper">

    <ion-button fill="clear" class="btn-back" (click)="back()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>

    <div class="step-flow">
      <h5>Complete profile</h5>
      <div class="steps">
        <div class="bold step"><span>Personal Information</span></div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <div class="step"><span>Contact Information</span></div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <div class="step"><span>Employment and Wealth</span></div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <div class="step"><span>Taxes &amp; Beneficiaries</span></div>
      </div>
    </div>

    <ion-button (click)="continue()" class="btn-continue" [disabled]="!form || form.invalid">
      Continue
    </ion-button>

  </div>
</ion-footer>
