<ion-header>
  <ion-toolbar>
    <ion-title>plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>
    We recommend a Balanced portfolio
  </h2>

  <p>
    This means your assets mix will focus on income and growth instruments to achieve greater returns. You can expect to see some downturns to achieve such returns.
  </p>

  <ion-card>
    <ion-card-content>

      <h3>Your Risk Tolerance </h3>

      <ion-icon name="minus-outline"></ion-icon> 6 <ion-icon name="plus-outline"></ion-icon>

      <h4>We recommend 6</h4>

      <p>For your risk profile and goals, we recommend the below asset allocation.</p>

      <ion-list>
        <ion-item>
          <ion-label>Fixed income <ion-icon name="question"></ion-icon> </ion-label>
          <ion-note>29%</ion-note>
          <ion-progress-bar color="primary" value="0.29"></ion-progress-bar>
        </ion-item>
        
        <ion-item>
          <ion-label>Developed Market Stocks <ion-icon name="question"></ion-icon> </ion-label>
          <ion-note>60%</ion-note>
          <ion-progress-bar color="primary" value="0.60"></ion-progress-bar>
        </ion-item>

        <ion-item>
          <ion-label>Emerging Market Stocks <ion-icon name="question"></ion-icon> </ion-label>
          <ion-note>9%</ion-note>
          <ion-progress-bar color="secondary" value="0.9"></ion-progress-bar>
        </ion-item>
        
        <ion-item>
          <ion-label>Real Estate <ion-icon name="question"></ion-icon> </ion-label>
          <ion-note>0%</ion-note>
          <ion-progress-bar color="secondary" value="0"></ion-progress-bar>
        </ion-item>
        
        <ion-item>
          <ion-label>Cash <ion-icon name="question"></ion-icon> </ion-label>
          <ion-note>2%</ion-note>
          <ion-progress-bar color="warning" value="2"></ion-progress-bar>
        </ion-item>

      </ion-list>
      
      <ion-button fill='clear'>
        View Historical Performance <ion-icon name="arrow-down"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
<ion-footer>
  <ion-progress-bar color="primary" value="0.9"></ion-progress-bar>

  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button fill="clear">
      <ion-icon name="refresh-outline"></ion-icon>
    Change my answers
    </ion-button>
  </ion-buttons>

  Your Investment Proposal is ready 

  Save for later? 

  <ion-buttons slot="end">
    <ion-button>Continue
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-footer>