ion-content {
    background-color: #fcfcfc;
    text-align: center;
}

.title {
    font-size: 28px;
    font-weight: 900;
    line-height: 1.32;
    text-align: center;
    color: #1a375f;
    margin-top: 50px;
}
.risk-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.33;
    color: #1a375f;
    text-align: center;
    margin-top: 40px;
}
.step-input {

    ion-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .value {
        font-size: 46px;
        line-height: 1.34;
        color: #007ace;
        width: 100%;
        text-align: center;
    }
}

.btn-view-history {
    text-transform: none;
}

.assets-allocation {
    margin-top: 30px;
    
    .charts-value .entry {
        margin-top: 10px;
        cursor: pointer;

        .type {
            min-height: 20px;
            overflow: hidden;

            .label {
                float: left;
                font-size: 14px;
                line-height: 1.25;
                color: #1a375f;

                ion-icon {
                    width: 20px;
                    vertical-align: middle;
                    height: 20px;
                    color: #D1D1D1;
                    margin: 0;
                }
            }

            .value {
                float: right;
                font-size: 14px;
                color: #1a375f;
            }
        }

        ion-progress-bar {
            position: relative;
            display: block;
            border: none;
            margin: 5px 0 1.5em;
            -webkit-box-shadow: none;
            box-shadow: none;
            background: rgba(0,0,0,0.1);
            padding: 0;
            border-radius: 0.28571429rem;
            height: 8px;
        }
    }

    .charts-header {
        min-height: 20px;
        overflow: hidden;

        .entry {
            font-size: 14px;
            line-height: 1.43;
            color: #96a4b6;
        }
        
        .entry.right {
            float: right;
        }

        .entry.left {
            float: left;
        }
    }
}

.recommend-description {
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    color: #96a4b6;
}

.recommend-value {
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    color: #435b7c;
}

.description {
    font-size: 14px;
    line-height: 1.31;
    text-align: center;
    color: #6d7f99;
    max-width: 44%;
    margin: 10px auto;
}

@media only screen and (max-width: 767px) {
    
    .description {
        max-width: 84%;
    }

    .footer-wrapper .btn-change,
    .footer-wrapper .btn-back {
       position: relative;
       top: auto;
       transform: none;
       left: auto;
   }

   .footer-wrapper .btn-continue {
    position: relative;
    right: auto;
   }

   .footer-wrapper .step {
       display: none;
   }

   ion-progress-bar,
   ion-footer {
       margin-bottom: 0;
   }
}

ion-card {
    max-width: 1100px;
    border-radius: 5px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
    margin: 30px auto;
}

ion-card-content {
    padding: 50px 38px;
}

.step {
    margin: auto;
}

.btn-continue {
    position: absolute;
    right: 15px;
}

.btn-change {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -60px;
    cursor: pointer;
    text-align: center;
    text-transform: none;
    font-size: 14px;
    color: #707070;

    ion-icon {
        margin-right: 10px;
    }
}
